.menu-logo-div-cls {
    padding:15px;
    background:#FFF;
}
.menu-social-cls{
    padding:10px;
}
.menu-facebook-cls {
   font-family: 'Sencha' !important;
   font-size: 21px;
   cursor: pointer;
   padding-right: 5px;
   &:before {
       top:3px;
       color:#525252;
       position: relative;
       content: '\0053';
   }
}
.menu-facebook-cls:hover {
   &:before {
       top:3px;
       color:#3b5998 !important;
       position: relative;
       content: '\0066' !important;
   }
}
.menu-linkedin-cls {
   font-family: 'Sencha' !important;
   font-size: 21px;
   cursor: pointer;
   padding-right: 5px;
   &:before {
       top:3px;
       color:#525252;
       position: relative;
       content: '\0052' !important;
   }
}
.menu-linkedin-cls:hover {
   font-family: 'Sencha' !important;
   font-size: 21px;
   cursor: pointer;
   padding-right: 5px;
   &:before {
       top:3px;
       color:#0077b5;
       position: relative;
       content: '\0065' !important;
   }
}
.menu-twitter-cls {
   font-family: 'Sencha' !important;
   font-size: 21px;
   cursor: pointer;
   padding-right: 5px;
   &:before {
       top:3px;
       color:#525252;
       position: relative;
       content: '\0054' !important;
   }
}
.menu-twitter-cls:hover {
   font-family: 'Sencha' !important;
   font-size: 21px;
   cursor: pointer;
   padding-right: 5px;
   &:before {
       top:3px;
       color:#1da1f2;
       position: relative;
       content: '\0067' !important;
   }
}


.social-link-href-cls {
    text-decoration: none;
}
.icons-dataview-cls {
   padding: 1em;
   margin: 3em 0 0 0;
   text-align: center;
   .x-dataview-item  {
       display: inline-block; 
   }
}
.icons-dataview-phone-cls {
  margin: 2em 0 0 4em;
  .x-dataview-item  {
      display: inline-block; 
  }
}
.x-mask{
    opacity: 1 !important;
    background-color: transparent !important;
}

.menu-mobile-facebook-cls {
   font-family: 'Sencha' !important;
   font-size: 25px;
   cursor: pointer;
   padding-right: 5px;
   &:before {
       top:3px;
       color:#525252;
       position: relative;
       content: '\0053' !important;
   }
}
.menu-mobile-linkedin-cls {
   font-family: 'Sencha' !important;
   font-size: 25px;
   cursor: pointer;
   padding-right: 5px;
   &:before {
       top:3px;
       color:#525252;
       position: relative;
       content: '\0052' !important;
   }
}
.menu-mobile-twitter-cls {
   font-family: 'Sencha' !important;
   font-size: 25px;
   cursor: pointer;
   padding-right: 5px;
   &:before {
       top:3px;
       color:#525252;
       position: relative;
       content: '\0054' !important;
   }
}

.x-pressed .menu-mobile-twitter-cls{
  &:before{
    top:3px;
    color:#1da1f2 !important;
    position: relative;
    content: '\0067' !important; 
  }
}
.x-pressed .menu-mobile-linkedin-cls{
  &:before{
    top:3px;
    color:#0077b5 !important;
    position: relative;
    content: '\0065' !important; 
  }
}
.x-pressed .menu-mobile-facebook-cls{
  &:before{
    top:3px;
    color:#3b5998 !important;
    position: relative;
    content: '\0066' !important; 
  }
}
